    Flask==3.1.1
    Flask-Login==0.6.3
    Flask-SQLAlchemy==3.1.1
    Flask-WTF==1.2.2
    email-validator==2.2.0
    python-dotenv==1.1.0
    SQLAlchemy==2.0.40
    WTForms==3.2.1
    Flask-Cors==6.0.1
    gunicorn==23.0.0
    waitress==3.0.2
